# 1. 날씨데이터 
## 2019/1/1 ~ 2020/1/1

- 참조: https://data.kma.go.kr/data/grnd/selectAsosRltmList.do?pgmNo=36
- 2020년 1월 1일 0시 데이터는 없고 1시 데이터만 존제함으로 0시는 1시 bfill로 대체함

## 2. 24절기 추출 및 계절 전처리

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df19=pd.read_csv("kWeather2019.csv",parse_dates=['일시'],encoding = "CP949")
df20=pd.read_csv("kWeather2020.csv",parse_dates=['일시'],encoding = "CP949")

In [3]:
df_kWeather=pd.concat([df19, df20])

In [4]:
df_kWeather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 835246 entries, 0 to 2279
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   지점         835246 non-null  int64
 1   지점명        835246 non-null  object
 2   일시         835246 non-null  datetime64[ns]
 3   기온(°C)     835109 non-null  float64
 4   강수량(mm)    72899 non-null   float64
 5   풍속(m/s)    833851 non-null  float64
 6   습도(%)      834287 non-null  float64
 7   현지기압(hPa)  834648 non-null  float64
 8   지면온도(°C)   834793 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(1)
memory usage: 63.7+ MB

In [5]:
df_kWeather.index=df_kWeather['일시']

In [6]:
# 심야 2:00 ~ 6:20 시간대 제외
df_kWeather=df_kWeather.drop(df_kWeather.between_time('2:00','6:19').index)

In [47]:
df=df_kWeather.copy()

In [48]:
df

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),지면온도(°C)
일시,,,,,,,,,
2019-01-01 01:00:00,90,속초,2019-01-01 01:00:00,-1.9,NaN,0.6,18.0,1028.8,-5.6
2019-01-01 07:00:00,90,속초,2019-01-01 07:00:00,-5.1,NaN,1.5,28.0,1027.2,-6.2
2019-01-01 08:00:00,90,속초,2019-01-01 08:00:00,-3.6,NaN,1.7,26.0,1027.6,-5.7
2019-01-01 09:00:00,90,속초,2019-01-01 09:00:00,-2.2,NaN,1.1,24.0,1027.4,-2.9
2019-01-01 10:00:00,90,속초,2019-01-01 10:00:00,-0.5,NaN,1.1,22.0,1027.3,0.8
...,...,...,...,...,...,...,...,...,...
2020-01-01 20:00:00,295,남해,2020-01-01 20:00:00,1.1,NaN,0.8,63.0,1024.5,0.3
2020-01-01 21:00:00,295,남해,2020-01-01 21:00:00,0.3,NaN,0.5,66.0,1024.7,0.2
2020-01-01 22:00:00,295,남해,2020-01-01 22:00:00,0.4,NaN,0.9,67.0,1025.0,0.0
2020-01-01 23:00:00,295,남해,2020-01-01 23:00:00,0.3,NaN,0.8,65.0,1025.2,-0.3
2020-01-02 00:00:00,295,남해,2020-01-02 00:00:00,0.0,NaN,1.0,69.0,1025.0,-0.6

In [49]:
df['요일']=df['일시'].dt.dayofweek

df[df['요일']==5].between_time('17:59', '18:21') #제거하지 않는다 토요일 18:20분에 방송이 있으므로 포함

In [50]:
df

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),지면온도(°C),요일
일시,,,,,,,,,,
2019-01-01 01:00:00,90,속초,2019-01-01 01:00:00,-1.9,NaN,0.6,18.0,1028.8,-5.6,1
2019-01-01 07:00:00,90,속초,2019-01-01 07:00:00,-5.1,NaN,1.5,28.0,1027.2,-6.2,1
2019-01-01 08:00:00,90,속초,2019-01-01 08:00:00,-3.6,NaN,1.7,26.0,1027.6,-5.7,1
2019-01-01 09:00:00,90,속초,2019-01-01 09:00:00,-2.2,NaN,1.1,24.0,1027.4,-2.9,1
2019-01-01 10:00:00,90,속초,2019-01-01 10:00:00,-0.5,NaN,1.1,22.0,1027.3,0.8,1
...,...,...,...,...,...,...,...,...,...,...
2020-01-01 20:00:00,295,남해,2020-01-01 20:00:00,1.1,NaN,0.8,63.0,1024.5,0.3,2
2020-01-01 21:00:00,295,남해,2020-01-01 21:00:00,0.3,NaN,0.5,66.0,1024.7,0.2,2
2020-01-01 22:00:00,295,남해,2020-01-01 22:00:00,0.4,NaN,0.9,67.0,1025.0,0.0,2
2020-01-01 23:00:00,295,남해,2020-01-01 23:00:00,0.3,NaN,0.8,65.0,1025.2,-0.3,2
2020-01-02 00:00:00,295,남해,2020-01-02 00:00:00,0.0,NaN,1.0,69.0,1025.0,-0.6,3

In [51]:
# pd.pivot_table(df, index= ['지점명'], columns= ['기온(°C)'], values=['기온(°C)'])
#                                              ,'강수량(mm)','풍속(m/s)','습도(%)','현지기압(hPa)','지면온도(°C)','요일']

In [52]:
df.groupby(['지점명'])['기온(°C)']

In [53]:
df['강수량(mm)'].fillna(0, inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 661217 entries, 2019-01-01 01:00:00 to 2020-01-02 00:00:00
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   지점         661217 non-null  int64
 1   지점명        661217 non-null  object
 2   일시         661217 non-null  datetime64[ns]
 3   기온(°C)     661109 non-null  float64
 4   강수량(mm)    661217 non-null  float64
 5   풍속(m/s)    660152 non-null  float64
 6   습도(%)      660476 non-null  float64
 7   현지기압(hPa)  660763 non-null  float64
 8   지면온도(°C)   660848 non-null  float64
 9   요일         661217 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 75.5+ MB

In [55]:
df[df['기온(°C)'].isnull()]

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),지면온도(°C),요일
일시,,,,,,,,,,
2019-09-19 00:00:00,101,춘천,2019-09-19 00:00:00,NaN,0.0,0.6,87.0,1009.9,NaN,3
2019-11-14 08:00:00,105,강릉,2019-11-14 08:00:00,NaN,0.0,0.9,18.0,1019.1,1.8,3
2019-11-14 09:00:00,105,강릉,2019-11-14 09:00:00,NaN,0.0,1.6,16.0,1019.6,3.2,3
2019-11-14 10:00:00,105,강릉,2019-11-14 10:00:00,NaN,0.0,4.1,15.0,1019.4,6.2,3
2019-11-14 11:00:00,105,강릉,2019-11-14 11:00:00,NaN,0.0,3.9,17.0,1019.2,5.6,3
...,...,...,...,...,...,...,...,...,...,...
2019-09-03 01:00:00,285,합천,2019-09-03 01:00:00,NaN,0.5,0.5,92.0,1012.6,21.2,1
2019-09-03 07:00:00,285,합천,2019-09-03 07:00:00,NaN,10.0,1.2,93.0,1012.4,20.5,1
2019-09-03 09:00:00,285,합천,2019-09-03 09:00:00,NaN,4.5,0.1,93.0,1013.0,21.1,1
2019-09-03 10:00:00,285,합천,2019-09-03 10:00:00,NaN,3.0,0.1,91.0,1013.7,21.9,1
2019-09-03 11:00:00,285,합천,2019-09-03 11:00:00,NaN,3.0,0.4,92.0,1013.5,23.2,1

In [56]:
#결측값 기온, 풍속, 습도, 기압, 지면온도 회의..(bfill?)

In [57]:
# 표준화 -> 정규화 그룹은 일시별로

In [58]:
df.groupby(df.index).count() #계산 했을때 nan 무시하고 계산하는지 확인

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),지면온도(°C),요일
일시,,,,,,,,,,
2019-01-01 01:00:00,95,95,95,95,95,95,95,95,95,95
2019-01-01 07:00:00,95,95,95,95,95,95,95,95,95,95
2019-01-01 08:00:00,95,95,95,95,95,95,95,95,95,95
2019-01-01 09:00:00,95,95,95,95,95,95,95,95,95,95
2019-01-01 10:00:00,95,95,95,95,95,95,95,95,95,95
...,...,...,...,...,...,...,...,...,...,...
2020-01-01 20:00:00,95,95,95,95,95,95,95,94,95,95
2020-01-01 21:00:00,95,95,95,95,95,95,95,94,95,95
2020-01-01 22:00:00,95,95,95,95,95,95,95,94,95,95
2020-01-01 23:00:00,95,95,95,95,95,95,95,94,95,95
2020-01-02 00:00:00,95,95,95,95,95,95,95,94,95,95

In [252]:
seoul=df[df['지점명']=='서울'].copy()
seoul

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),지면온도(°C),요일
일시,,,,,,,,,,
2019-01-01 01:00:00,108,서울,2019-01-01 01:00:00,-5.9,0.0,1.8,56.0,1024.0,-6.5,1
2019-01-01 07:00:00,108,서울,2019-01-01 07:00:00,-7.7,0.0,1.3,58.0,1023.1,-8.1,1
2019-01-01 08:00:00,108,서울,2019-01-01 08:00:00,-7.7,0.0,0.9,57.0,1023.0,-7.8,1
2019-01-01 09:00:00,108,서울,2019-01-01 09:00:00,-7.0,0.0,0.9,50.0,1023.2,-5.2,1
2019-01-01 10:00:00,108,서울,2019-01-01 10:00:00,-4.9,0.0,1.6,44.0,1023.3,-1.4,1
...,...,...,...,...,...,...,...,...,...,...
2020-01-01 20:00:00,108,서울,2020-01-01 20:00:00,0.0,0.0,1.7,67.0,1020.5,-0.1,2
2020-01-01 21:00:00,108,서울,2020-01-01 21:00:00,-0.4,0.0,2.5,71.0,1020.7,-0.3,2
2020-01-01 22:00:00,108,서울,2020-01-01 22:00:00,-0.9,0.0,1.5,71.0,1020.8,-0.3,2
2020-01-01 23:00:00,108,서울,2020-01-01 23:00:00,-0.9,0.0,1.0,70.0,1021.0,-0.3,2
2020-01-02 00:00:00,108,서울,2020-01-02 00:00:00,-0.7,0.0,2.1,70.0,1020.3,-0.4,3

In [253]:
seoul['강수량']=seoul['강수량(mm)']

#24 절기로 나눠서 봄, 여름, 가을, 겨울 에 0~3 까지 특징 넣기.
강수량 binarize 0 or 1

In [254]:
seoul[seoul['강수량']>0]=1

In [255]:
seoul['강수량'].value_counts()

0.0    6575
1.0     378
Name: 강수량, dtype: int64

In [256]:
seoul['강수량']=seoul['강수량'].astype(int)

# 2. 24절기 추출 및 데이터 전처리

24절기 컬럼 0 ~ 345도 를 일시 컬럼의 날짜에 대입  
mapping => 몇도에서 몇도는 1, 2, 3, 4 이런식으로

태양황경 (각도) 로 24절기에서 4등분 = 계절

데이터는, 공공데이터 포털의 특일 정보 에서 API로 받아옴

오퍼레이션명: get24DivisionsInfo = 24절기 정보조회
solYear  
solMonth  
ServiceKey  
json 타입, 디폴트 xml  
numOfRows  
http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getHoliDeInfo?solYear=2019&solMonth=03&ServiceKey=서비스키

24절기 정보 조회  
오퍼레이션 번호: 3  
get24DivisionInfo  
월별로 구분(24절기), 요일, 공휴일 여부 등의 정보를 제공한다.  

https://m.blog.naver.com/k5808151/221625545385 (절기별 태양황경)  
http://www.linuxchannel.net/docs/solar-24terms.txt (참고)

In [161]:
from selenium import webdriver
from bs4 import BeautifulSoup
import re
import time

In [93]:
driver=webdriver.Chrome("/Users/jinwon-kim/Developer/chromedriver")

In [158]:
service_key="공공데이터포털에서 발급"

In [164]:
data=[]
for num in range(1,13):
    month="{:02d}".format(num)
    url="http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/get24DivisionsInfo?solYear=2019&solMonth={}&ServiceKey={}".format(month,service_key)
    driver.get(url)
    html=driver.page_source
    soup=BeautifulSoup(html, "xml")
    time.sleep(2)
    for i in range(len(soup.select("item"))):
        dateName=soup.select("item > dateName")[i].text.strip()
        locdate=soup.select("item > locdate")[i].text.strip()
        sunLongitude=soup.select("item > sunLongitude")[i].text.strip()
        print(dateName, locdate, sunLongitude)
        data.append([locdate, dateName, sunLongitude])
        time.sleep(1)

소한 20190106 285
대한 20190120 300
입춘 20190204 315
우수 20190219 330
경칩 20190306 345
춘분 20190321 0
청명 20190405 15
곡우 20190420 30
입하 20190506 45
소만 20190521 60
망종 20190606 75
하지 20190622 90
소서 20190707 105
대서 20190723 120
입추 20190808 135
처서 20190823 150
백로 20190908 165
추분 20190923 180
한로 20191008 195
상강 20191024 210
입동 20191108 225
소설 20191122 240
대설 20191207 255
동지 20191222 270

In [169]:
solarTerm=pd.DataFrame(data, columns=['날짜','명칭','태양황경'])
solarTerm.to_csv("solarTerm", index=False)
solarTerm

          날짜  명칭 태양황경
0   20190106  소한  285
1   20190120  대한  300
2   20190204  입춘  315
3   20190219  우수  330
4   20190306  경칩  345
5   20190321  춘분    0
6   20190405  청명   15
7   20190420  곡우   30
8   20190506  입하   45
9   20190521  소만   60
10  20190606  망종   75
11  20190622  하지   90
12  20190707  소서  105
13  20190723  대서  120
14  20190808  입추  135
15  20190823  처서  150
16  20190908  백로  165
17  20190923  추분  180
18  20191008  한로  195
19  20191024  상강  210
20  20191108  입동  225
21  20191122  소설  240
22  20191207  대설  255
23  20191222  동지  270

In [180]:
solarTerm_df=pd.read_csv("solarTerm")
solarTerm_df

          날짜  명칭  태양황경
0   20190106  소한   285
1   20190120  대한   300
2   20190204  입춘   315
3   20190219  우수   330
4   20190306  경칩   345
5   20190321  춘분     0
6   20190405  청명    15
7   20190420  곡우    30
8   20190506  입하    45
9   20190521  소만    60
10  20190606  망종    75
11  20190622  하지    90
12  20190707  소서   105
13  20190723  대서   120
14  20190808  입추   135
15  20190823  처서   150
16  20190908  백로   165
17  20190923  추분   180
18  20191008  한로   195
19  20191024  상강   210
20  20191108  입동   225
21  20191122  소설   240
22  20191207  대설   255
23  20191222  동지   270

In [181]:
solarTerm_df['날짜']=pd.to_datetime(solarTerm_df['날짜'],format='%Y%m%d')
solarTerm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      24 non-null     datetime64[ns]
 1   명칭      24 non-null     object
 2   태양황경    24 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 704.0+ bytes

In [184]:
solarTerm_df #month-day 기준으로 2020년도까지 concat 하기

           날짜  명칭  태양황경
0  2019-01-06  소한   285
1  2019-01-20  대한   300
2  2019-02-04  입춘   315
3  2019-02-19  우수   330
4  2019-03-06  경칩   345
5  2019-03-21  춘분     0
6  2019-04-05  청명    15
7  2019-04-20  곡우    30
8  2019-05-06  입하    45
9  2019-05-21  소만    60
10 2019-06-06  망종    75
11 2019-06-22  하지    90
12 2019-07-07  소서   105
13 2019-07-23  대서   120
14 2019-08-08  입추   135
15 2019-08-23  처서   150
16 2019-09-08  백로   165
17 2019-09-23  추분   180
18 2019-10-08  한로   195
19 2019-10-24  상강   210
20 2019-11-08  입동   225
21 2019-11-22  소설   240
22 2019-12-07  대설   255
23 2019-12-22  동지   270

seoul['solarTerm']=seoul[(seoul.index.month==1)&(seoul.index.day==6)]=285
seoul['solarTerm']=seoul[(seoul.index.month==1)&(seoul.index.day==20)]=300
seoul['solarTerm']=seoul[(seoul.index.month==2)&(seoul.index.day==4)]=315
seoul['solarTerm']=seoul[(seoul.index.month==2)&(seoul.index.day==19)]=330
seoul['solarTerm']=seoul[(seoul.index.month==3)&(seoul.index.day==6)]=345
seoul['solarTerm']=seoul[(seoul.index.month==3)&(seoul.index.day==21)]=0
seoul['solarTerm']=seoul[(seoul.index.month==4)&(seoul.index.day==5)]=15
seoul['solarTerm']=seoul[(seoul.index.month==4)&(seoul.index.day==20)]=30
seoul['solarTerm']=seoul[(seoul.index.month==5)&(seoul.index.day==6)]=45
seoul['solarTerm']=seoul[(seoul.index.month==5)&(seoul.index.day==21)]=60
seoul['solarTerm']=seoul[(seoul.index.month==6)&(seoul.index.day==6)]=75
seoul['solarTerm']=seoul[(seoul.index.month==6)&(seoul.index.day==22)]=90
seoul['solarTerm']=seoul[(seoul.index.month==7)&(seoul.index.day==7)]=105
seoul['solarTerm']=seoul[(seoul.index.month==7)&(seoul.index.day==23)]=120
seoul['solarTerm']=seoul[(seoul.index.month==8)&(seoul.index.day==8)]=135
seoul['solarTerm']=seoul[(seoul.index.month==8)&(seoul.index.day==23)]=150
seoul['solarTerm']=seoul[(seoul.index.month==9)&(seoul.index.day==8)]=165
seoul['solarTerm']=seoul[(seoul.index.month==9)&(seoul.index.day==23)]=180
seoul['solarTerm']=seoul[(seoul.index.month==10)&(seoul.index.day==8)]=195
seoul['solarTerm']=seoul[(seoul.index.month==10)&(seoul.index.day==24)]=210
seoul['solarTerm']=seoul[(seoul.index.month==11)&(seoul.index.day==8)]=225
seoul['solarTerm']=seoul[(seoul.index.month==11)&(seoul.index.day==22)]=240
seoul['solarTerm']=seoul[(seoul.index.month==12)&(seoul.index.day==7)]=255
seoul['solarTerm']=seoul[(seoul.index.month==12)&(seoul.index.day==22)]=270

In [233]:
solarTerm_df.set_index('날짜', inplace=True)

In [234]:
solarTerm_df

            명칭  태양황경
날짜
2019-01-06  소한   285
2019-01-20  대한   300
2019-02-04  입춘   315
2019-02-19  우수   330
2019-03-06  경칩   345
2019-03-21  춘분     0
2019-04-05  청명    15
2019-04-20  곡우    30
2019-05-06  입하    45
2019-05-21  소만    60
2019-06-06  망종    75
2019-06-22  하지    90
2019-07-07  소서   105
2019-07-23  대서   120
2019-08-08  입추   135
2019-08-23  처서   150
2019-09-08  백로   165
2019-09-23  추분   180
2019-10-08  한로   195
2019-10-24  상강   210
2019-11-08  입동   225
2019-11-22  소설   240
2019-12-07  대설   255
2019-12-22  동지   270

mapping 할것:
봄: 315, 330, 345, 0, 15, 30
여름: 45, 60, 75, 90, 105, 120
가을: 135, 150, 165, 180, 195, 210
겨울: 225, 240, 255, 270, 285, 300

In [219]:
solarTerm_df['날짜']

0    2019-01-06
1    2019-01-20
2    2019-02-04
3    2019-02-19
4    2019-03-06
5    2019-03-21
6    2019-04-05
7    2019-04-20
8    2019-05-06
9    2019-05-21
10   2019-06-06
11   2019-06-22
12   2019-07-07
13   2019-07-23
14   2019-08-08
15   2019-08-23
16   2019-09-08
17   2019-09-23
18   2019-10-08
19   2019-10-24
20   2019-11-08
21   2019-11-22
22   2019-12-07
23   2019-12-22
Name: 날짜, dtype: datetime64[ns]

In [221]:
#solarTerm_df 의 날짜의 태양황경을, seoul 날짜에 solarTerm열을 생성해서 대입

In [333]:
test_df=pd.merge(seoul,solarTerm_df, left_index=True, right_index=True, how='left') #합집합표현

In [334]:
test_df['태양황경'].fillna(method='ffill', inplace=True)
test_df['명칭'].fillna(method='ffill', inplace=True)

In [335]:
test_df['태양황경'].fillna(270, inplace=True)
test_df['명칭'].fillna('동지', inplace=True)

In [336]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6953 entries, 2019-01-01 01:00:00 to 2020-01-02 00:00:00
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지점         6953 non-null   int64
 1   지점명        6953 non-null   object
 2   일시         6953 non-null   object
 3   기온(°C)     6953 non-null   float64
 4   강수량(mm)    6953 non-null   float64
 5   풍속(m/s)    6946 non-null   float64
 6   습도(%)      6953 non-null   float64
 7   현지기압(hPa)  6953 non-null   float64
 8   지면온도(°C)   6953 non-null   float64
 9   요일         6953 non-null   int64
 10  강수량        6953 non-null   int64
 11  명칭         6953 non-null   object
 12  태양황경       6953 non-null   float64
dtypes: float64(7), int64(3), object(3)
memory usage: 1.1+ MB

In [337]:
test_df[test_df['태양황경']==75]

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),지면온도(°C),요일,강수량,명칭,태양황경
일시,,,,,,,,,,,,,
2019-06-06 00:00:00,108,서울,2019-06-06 00:00:00,20.1,0.0,1.3,77.0,1002.3,19.4,3,0,망종,75.0
2019-06-06 01:00:00,108,서울,2019-06-06 01:00:00,19.3,0.0,2.2,84.0,1002.8,18.7,3,0,망종,75.0
2019-06-06 07:00:00,108,서울,2019-06-06 07:00:00,20.0,0.0,0.5,76.0,1002.6,21.5,3,0,망종,75.0
2019-06-06 08:00:00,108,서울,2019-06-06 08:00:00,21.6,0.0,0.9,68.0,1002.3,25.1,3,0,망종,75.0
2019-06-06 09:00:00,108,서울,2019-06-06 09:00:00,22.7,0.0,0.5,65.0,1001.9,27.5,3,0,망종,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-21 19:00:00,108,서울,2019-06-21 19:00:00,24.4,0.0,1.3,66.0,995.2,26.1,4,0,망종,75.0
2019-06-21 20:00:00,1,1,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1,망종,75.0
2019-06-21 21:00:00,108,서울,2019-06-21 21:00:00,22.2,0.0,1.1,76.0,996.1,22.3,4,0,망종,75.0
2019-06-21 22:00:00,108,서울,2019-06-21 22:00:00,21.4,0.0,1.2,75.0,996.7,20.9,4,0,망종,75.0
2019-06-21 23:00:00,108,서울,2019-06-21 23:00:00,20.6,0.0,1.3,80.0,997.2,19.9,4,0,망종,75.0

In [338]:
test_df.to_excel('test.xlsx', index=False)

In [339]:
test_df['태양황경']=test_df['태양황경'].astype(int)

In [340]:
test_df['season']=test_df['태양황경']

In [341]:
test_df['season'].replace([315, 330, 345, 0, 15, 30], 1, inplace=True) #봄
test_df['season'].replace([45, 60, 75, 90, 105, 120],2, inplace=True) #여름
test_df['season'].replace([135, 150, 165, 180, 195, 210],3, inplace=True) #가을
test_df['season'].replace([225, 240, 255, 270, 285, 300],4, inplace=True) #겨울

In [342]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6953 entries, 2019-01-01 01:00:00 to 2020-01-02 00:00:00
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지점         6953 non-null   int64
 1   지점명        6953 non-null   object
 2   일시         6953 non-null   object
 3   기온(°C)     6953 non-null   float64
 4   강수량(mm)    6953 non-null   float64
 5   풍속(m/s)    6946 non-null   float64
 6   습도(%)      6953 non-null   float64
 7   현지기압(hPa)  6953 non-null   float64
 8   지면온도(°C)   6953 non-null   float64
 9   요일         6953 non-null   int64
 10  강수량        6953 non-null   int64
 11  명칭         6953 non-null   object
 12  태양황경       6953 non-null   int64
 13  season     6953 non-null   int64
dtypes: float64(6), int64(5), object(3)
memory usage: 1.1+ MB

In [343]:
test_df.to_excel('seasons.xlsx', index=False)

In [344]:
test_df

,지점,지점명,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),지면온도(°C),요일,강수량,명칭,태양황경,season
일시,,,,,,,,,,,,,,
2019-01-01 01:00:00,108,서울,2019-01-01 01:00:00,-5.9,0.0,1.8,56.0,1024.0,-6.5,1,0,동지,270,4
2019-01-01 07:00:00,108,서울,2019-01-01 07:00:00,-7.7,0.0,1.3,58.0,1023.1,-8.1,1,0,동지,270,4
2019-01-01 08:00:00,108,서울,2019-01-01 08:00:00,-7.7,0.0,0.9,57.0,1023.0,-7.8,1,0,동지,270,4
2019-01-01 09:00:00,108,서울,2019-01-01 09:00:00,-7.0,0.0,0.9,50.0,1023.2,-5.2,1,0,동지,270,4
2019-01-01 10:00:00,108,서울,2019-01-01 10:00:00,-4.9,0.0,1.6,44.0,1023.3,-1.4,1,0,동지,270,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-01 20:00:00,108,서울,2020-01-01 20:00:00,0.0,0.0,1.7,67.0,1020.5,-0.1,2,0,동지,270,4
2020-01-01 21:00:00,108,서울,2020-01-01 21:00:00,-0.4,0.0,2.5,71.0,1020.7,-0.3,2,0,동지,270,4
2020-01-01 22:00:00,108,서울,2020-01-01 22:00:00,-0.9,0.0,1.5,71.0,1020.8,-0.3,2,0,동지,270,4
2020-01-01 23:00:00,108,서울,2020-01-01 23:00:00,-0.9,0.0,1.0,70.0,1021.0,-0.3,2,0,동지,270,4
2020-01-02 00:00:00,108,서울,2020-01-02 00:00:00,-0.7,0.0,2.1,70.0,1020.3,-0.4,3,0,동지,270,4